doctype html
html
    include includes/head.pug

    body

        #main-wrapper.loaded

            .loader-wrap
                include includes/loader

            header.maing-header

            .main-content

                include includes/gallery

                footer.main-footer
                include includes/footer
